.check-list.list-group {
    text-align: start;
    overflow: auto;

    .list-group-item {
        color: white;
        background-color: #212529;
    }

    .accordion-item {
        background-color: #212529;
        color: white;
        border: none;

        .accordion-body {
            padding: 4px;
            font-size: 14px;
        }

        button.accordion-button {
            color: inherit;
            background-color: #212529;
            padding: 0;
        }

        button {
            border: none;
            outline: 0;
            box-shadow: none;
            &:active,
            &:focus {
                border: none;
                outline: 0;
                box-shadow: none;
            }
        }
    }
}

.check-state-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-inline-end: 4px;
    background-color: rgb(163, 163, 163);
    &.pass {
        background-color: rgb(60, 255, 0);
    }
    &.error {
        background-color: rgb(241, 130, 4);
    }
    &.fatal {
        background-color: rgb(240, 0, 0);
    }
}

.item-state-buttons {
    button {
        &:not(:hover,.active) {
            &.pass {
                color: rgb(60, 255, 0);
            }
            &.error {
                color: rgb(241, 130, 4);
            }
            &.fatal {
                color: rgb(240, 0, 0);
            }
        }
        &:hover {
            &.pass {
                background-color: rgb(60, 255, 0);
            }
            &.error {
                background-color: rgb(241, 130, 4);
            }
            &.fatal {
                background-color: rgb(240, 0, 0);
            }
            &.active {
                background-color: rgb(163, 163, 163);
            }
        }
        &.active:not(:hover) {
            &.pass {
                background-color: rgb(60, 255, 0);
            }
            &.error {
                background-color: rgb(241, 130, 4);
            }
            &.fatal {
                background-color: rgb(240, 0, 0);
            }
        }
    }
}